<div class="timeline">
  <div class="timeline--title">{{ title }}</div>
  <div *ngFor="let timelineElement of timeline" class="timeline--element">
    <div class="timeline--element__header">
      <div class="timeline--element__header--start">{{timelineElement.start | date: 'MM/yyyy'}}</div>
      <div class="timeline--element__header--end">{{timelineElement.end || now | date: 'MM/yyyy'}}</div>
    </div>
    <div class="timeline--element__content">
        <div class="timeline--element__content--round">&nbsp;</div>
      <div class="timeline--element__content--title">{{timelineElement.title}}</div>
      <div class="timeline--element__content--description">{{timelineElement.description}}</div>
    </div>
  </div>
</div>
